@charset "utf-8";

/* Layout */
.dimmed { display:none; z-index:1000; position:fixed; top:0; left:0; bottom:0; right:0; width:100%; height:100%; background:rgba(0,0,0,0.3); }

#modalBackpanel { display:none; position:absolute; top:0; left:0; z-index:10000; width:100%; height:100%; background:#000; }
#modalContainer { display:none; position:absolute; top:100px; left:100px; z-index:10001; width:975px; height:720px; border:1px solid #333; background:#fff; }
#modalContainer #modalContent { width:100%; height:100%; }




/********************* PC *********************/
@media all and (min-width:1025px) {
	.RMB{ display:none !important; }
	.RTMI { display:none !important; }
	.RTMB { display:none !important; }

	.pc_view{ }
	.m_view{display:none !important;}

}

/********************* Mobile *********************/
@media all and (max-width:1024px) {
	.RMB { display:block !important; }
	.RTMB { display:block !important; }
	.RTMI { display:inline-block !important; }
	.RW { display:none !important; }

	.pc_view{display:none !important; }
	.m_view{ }
}
