.brand_contents {
	word-break: keep-all;
	text-align:center;
	line-height: 1.5;
}
.brand_contents img{
	max-width:100%;
}

.brand_contents .section_first .txt-box{
	background-repeat:no-repeat;
	background-size:cover;
}
.brand_contents .section_first .txt-box .p1{
	font-family: "PT Serif", sans-serif;
}

/********************* PC *********************/
@media all and (min-width:1025px) {
    #contents > .site-wrap{max-width:100%;padding: 0;}
    .brand_contents .section_first{text-align:center; position:relative;}
    .brand_contents .section_first .txt-box{text-align:center;display: flex;flex-direction: column;justify-content: center;align-items: center;min-height:400px;z-index: 2;position: relative;}
    .brand_contents .section_first .txt-box .p1{font-size:30px; margin:0 0 30px; font-weight:700; }
    .brand_contents .section_first .txt-box .p2{font-size:24px;font-weight:700; }
	.brand_contents .section_first .txt-box .line{position:absolute;bottom:-40px;left:50%;background:#111;width:1px;height:80px;}
	.brand_contents .section_first .img-box{position: absolute;top: 0;left: 0;right: 0;z-index: 1;bottom: 0;}
	.brand_contents .section_first .img-box img{width: 100%;height: 100%;object-fit: cover;}
    .brand_contents .section_second{margin:170px 0;}
    .brand_contents .section_second .txt-box{text-align:center; padding:80px 0 0;}
    .brand_contents .section_second .txt-box .p1{font-weight: 700; font-size: 36px;}
    .brand_contents .section_second .txt-box .p2{margin: 20px 0 0; font-size: 24px; font-weight: 300;}
    .brand_contents .section .site-wrap{display: flex; align-items: center;background:#f9f9f9; padding:0;}
    .brand_contents .section .img-box,
	.brand_contents .section .txt-box{flex:1 1 50%;}
	.brand_contents .section .img-box img{width:100%;}
    .brand_contents .section .txt-box{padding: 0 60px;text-align: left;}
    .brand_contents .section .txt-box .p1{font-weight: 700; font-size: 36px;}
    .brand_contents .section .txt-box .p2{margin: 20px 0 0; font-size: 24px; font-weight: 300;}
	.brand_contents .section:nth-child(2n) .img-box{order:2;}
	.brand_contents .section:nth-child(2n) .txt-box{order:1;text-align:right;}
}


/********************* Mobile *********************/
@media all and (max-width:1024px) {
	.brand_contents .section_first{text-align:center; position:relative;margin:0 -1rem;}
    .brand_contents .section_first .txt-box{text-align:center;display: flex;flex-direction: column;justify-content: center;align-items: center;min-height:200px;z-index: 2;position: relative;padding:0 20px;}
    .brand_contents .section_first .txt-box .p1{font-size:20px; margin:0 0 10px; font-weight:700; }
    .brand_contents .section_first .txt-box .p2{font-size:14px;font-weight:700; }
	.brand_contents .section_first .txt-box .line{position:absolute;bottom:-20px;left:50%;background:#111;width:1px;height:40px;}
	.brand_contents .section_first .img-box{position: absolute;top: 0;left: 0;right: 0;z-index: 1;bottom: 0;}
	.brand_contents .section_first .img-box img{width: 100%;height: 100%;object-fit: cover;}
	.brand_contents .section_second{margin:70px 0;}
    .brand_contents .section_second .txt-box{text-align:center; margin:20px 0 0;}
    .brand_contents .section_second .txt-box .p1{font-weight: 700; font-size: 22px;}
    .brand_contents .section_second .txt-box .p2{margin: 20px 0 0; font-size: 14px; font-weight: 300;}

	.brand_contents .section{margin:70px 0;}
	.brand_contents .section .site-wrap{display: flex; align-items: center;flex-direction: column; padding:0;}
    .brand_contents .section .img-box,
	.brand_contents .section .txt-box{max-width:60vw;}
	.brand_contents .section .img-box{}
	.brand_contents .section .img-box img{width:100%;}
    .brand_contents .section .txt-box{padding: 20px 0 0;text-align: center;}
    .brand_contents .section .txt-box .p1{font-weight: 700; font-size: 22px;}
    .brand_contents .section .txt-box .p2{margin: 20px 0 0; font-size: 14px; font-weight: 300;}
}