.boardSort.off,
.ev-board-tab.off {
	display: none !important;
}

.ev-board-tab ul {
	font-size: 0;
	display: flex;
	justify-content: center;
}

.ev-board-tab ul li.selected {
	position: relative;
}

.ev-board-tab ul li a {
	display: block;
	border: 1px solid #ddd;
	color: #000;
	margin: 0;
	padding: 1rem 0;
	text-decoration: none;
	transition: all .25s ease;
	font-weight: 500;
	border-radius:30px;
}

.ev-board-tab ul li.selected a {
	border-color: var(--board-event-tab);
	color: #fff;
	background: var(--board-event-tab);
	font-weight: bold;
}



/********************* Mobile ********************/
@media all and (max-width:384px){
	.ev-board-tab ul li{
		flex: 1 1 calc(50% - 0.3rem);
	}

}

@media all and (max-width:1024px) {
	.ev-board-tab {
		margin: 1rem 0 2rem;
		text-align: center;
	}

	.ev-board-tab ul {
		justify-content: center;
		margin: 0 auto;
		flex-wrap: wrap;
		gap:.5rem;
	}

	.ev-board-tab ul li a {
		display: block;
		font-size: 1rem;
		border: 1px solid #ddd;
		color: #000;
		margin: 0;
		padding: 0.7rem 1.3rem;
		text-decoration: none;
		transition: all .25s ease;
		font-weight: 500;
		word-break: keep-all;
	}

}


/********************* PC *********************/
@media all and (min-width:1025px) {
	.ev-board-tab {
		margin: 40px 0 50px;
		text-align: center;
	}

	.ev-board-tab ul li a{
		padding:12px 24px;
		margin:0 5px;
		transition: all .25s ease;
		font-size:14px;
	}

	.ev-board-tab ul li a:hover{
		background:#f1f1f1;
		color:#111;
		border-color:#f1f1f1;
	}
}