.xans-board-title p.imgArea { margin:0 0 20px; }

.ec-base-box + #BoardDelForm .ec-base-table { border-top: 0; }
.xans-board-read .ec-base-table .head { padding: 20px 0; border-bottom:1px solid #eee; }
.xans-board-read .ec-base-table .head h3 > p{font-weight:normal;display:block; color:#888;margin-top:5px;}
.xans-board-read .ec-base-table .description {margin: 15px 0 0; }
.xans-board-read .ec-base-table .description *{vertical-align:middle;}
.xans-board-read .ec-base-table .description .name { padding-left:0;padding-right:8px;line-height: 21px;}
.xans-board-read .ec-base-table .etcArea {display: inline-block; }
.xans-board-read .ec-base-table .etcArea li { display:inline-block; padding:0 8px; vertical-align:middle; color:#6d6d6d; line-height: 20px;}
.xans-board-read .ec-base-table .etcArea li a { text-decoration:none; }
.xans-board-read .ec-base-table .etcArea li span{}
.xans-board-read .ec-base-table .etcArea li [class^='btnNormal']{padding: 0 10px;height: 30px;line-height: 30px;}
.xans-board-read .ec-base-table .etcArea .txtNum { color: #6d6d6d; }
.xans-board-read .ec-base-table .detail { word-break:break-all; line-height:normal; }
.xans-board-read .ec-base-table .detail ol,
.xans-board-read .ec-base-table .detail ul { margin:15px 0; padding:0 0 0 40px; }
.xans-board-read .ec-base-table .detail ol li { list-style:decimal; }
.xans-board-read .ec-base-table .detail ul li { list-style:disc; }
.xans-board-read .ec-base-table .detail img { max-width: 100%; height:auto !important;}
.xans-board-read .ec-base-table .attach { position: relative; padding: 10px 0; }
.xans-board-read .ec-base-table .attach a { padding:0 0 0 12px; color:#6d6d6d; }
.xans-board-read .ec-base-table .attach a:hover { text-decoration:underline; }
.xans-board-read .ec-base-table .attach a:first-child { padding-left: 20px; background: url("//img.echosting.cafe24.com/skin/skin/board/icon-file.svg") no-repeat 0 0; background-size: 13px auto; }

.xans-board-product.ec-base-box.typeProduct .information{vertical-align:middle;}
.xans-board-product .information h3 { margin:0 0 2px; padding:0 120px 0 0; font-size:14px; }
.xans-board-product #sPrdCommonImg { position:absolute; top:0; right:0; width:100px; text-align:right; }
.xans-board-product .information .button { margin:15px 0 0; }

.xans-board-read .password{border-top: 1px solid #eee; padding-top: 10px;margin-top: 10px;}


/********************* PC *********************/
@media all and (min-width:1025px) {
	.xans-board-read .ec-base-table .head h3 {font-size: 18px; font-weight: bold; }
	.xans-board-read .ec-base-table .head h3 > p{font-size:15px;}
	.xans-board-read .ec-base-table .description,
	.xans-board-read .ec-base-table .etcArea li span{font-size:14px;}
	.xans-board-read .ec-base-table .detail{padding:30px 0px; font-size:15px;}

    .xans-board-modify-9 #subject { width:526px; }
    .xans-board-modify-9 #email1,
    .xans-board-modify-9 #email2 { width:138px; }
    .xans-board-modify-9 #email3 { width:138px; margin:0 0 0 10px; }
    .xans-board-modify-9 #captcha { width:200px; margin:0 20px 0 10px; }

	.xans-board-read .ec-base-button.gBottom{border-top:1px solid #eee; padding:10px 0; margin:10px 0 0;}
	.xans-board-read .ec-base-button.gBottom [class^='btn'] + [class^='btn']{}

	.xans-board-read .ec-base-button.config{clear: both;float: none;display: block;border: 0;margin:10px 0;padding: 0; text-align:left;}
	.xans-board-read .ec-base-button.config [class^='btn']{margin:0;}
}


/********************* Mobile *********************/
@media all and (max-width:1024px) {
    .xans-board-read .ec-base-table .head { padding: 1rem 0; }
	.xans-board-read .ec-base-table .head h3 {font-size: 1.1rem; font-weight: bold; }
	.xans-board-read .ec-base-table .head h3 > p{font-size:1rem;}
	.xans-board-read .ec-base-table .detail{padding:1rem 0; font-size:1rem; }

	.xans-board-read .ec-base-button.config{clear: both;float: none;display: block;border: 0;margin:10px 0 0;padding: 0; text-align:left;}
	.xans-board-read .ec-base-button.config [class^='btn']{max-width: 7rem;  min-width:0;margin:0;}

	.xans-board-read .password{margin:20px 0;}

	.xans-board-read .ec-base-button.gBottom{margin: 0 0;}

	.xans-board-read .ec-base-table .attach{font-size:0;}
	.xans-board-read .ec-base-table .attach a{padding-left: 20px; background: url("//img.echosting.cafe24.com/skin/skin/board/icon-file.svg") no-repeat 0 0; background-size: 13px auto; font-size: 12px;display: block;margin: 4px 0;}
}
